
// Temporary font imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    
    // Bodies / large blanks
    --c-bg: #ffffff;
    --c-fg: #303033;

    --c-theme-1: #45b4ff;

    // Login screen

    --c-login-bg:                   #fbfbfd;
    --c-login-fg:                   #000000;
    --c-login-fg-dimmed:            #808288;
    --c-login-input-fg-text:        #000000;
    --c-login-input-fg-label:       #808288;
    --c-login-input-fg-holder:      #808288;
    --c-login-input-border:         #808288;
    --c-login-input-border-focus:   var(--c-theme-1);
    --c-login-btn-bg:               #ffffff;
    --c-login-btn-fg:               #000000;
    --c-login-btn-bg-hover:         #E2E3EA;
    --c-login-prompt-bg:            #ffffff;
    --c-login-prompt-shadow:        #00000033;
    --c-login-footer-bg:            #f2f2f7;
    --c-login-footer-fg:            #808288;

    --c-login-curtain-bg:           #fbfbfd;
    --c-login-curtain-logo-bg:      #ffffff;
    --c-login-curtain-logo-shadow:  #00000023;

}

body {
    background-color: var(--c-bg);
    margin: 0;
    font-weight: 400;
}

* {
    user-select: none;
    color: var(--c-fg);
    font-family: 'Poppins';
    font-weight: 400;
    // letter-spacing: 0.015em;
}

a, i, p, span, input {
    font-size: 14px;
}